<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="WARN" />
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="INFO" />
	    <param name="append" value="true" />
	    <param name="maxFileSize" value="10MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="work/logs/tibet.log" />
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>
	
	<appender name="MATCHES" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="INFO" />
	    <param name="append" value="false" />
	    <param name="maxFileSize" value="50MB" />
	    <param name="maxBackupIndex" value="1000" />
	    <param name="file" value="work/logs/matches.txt" />
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
	    </layout>
	</appender>

	<logger name="matches" additivity="false">
		<appender-ref ref="MATCHES"/>	
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>
